<div class="promo-container">
  <p class="original-price">Original Price: ${{ promoData.priceUYU }}</p>

  <p *ngIf="promoData?.appliedPromo" class="promo-details">
    <strong class="centered-text">Promoción Disponible</strong><br />
    <strong>Titulo:</strong><br />
    {{ promoData.appliedPromo.name }}<br /><br />
    <strong>Condición:</strong><br />
    {{ promoData.appliedPromo.condition }}<br /><br />
    <strong>Discount:</strong><br />
    {{ promoData.appliedPromo.discount }}
    <br />
    <br />
    <br />
    <strong>Descuento:</strong>
    ${{ promoData.priceUYU - promoData.discountedPriceUYU }}
    <br />
    <span class="discounted-price">
      Precio Final: ${{ promoData.discountedPriceUYU }}
    </span>
  </p>
</div>
