.filter-form {
  min-width: 150px;
  width: 100%;
}

.field-full-width {
  width: 100%;
}

mat-slider {
  width: 300px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}
