<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input
      type="text"
      aria-label="Nombre"
      matInput
      [formControl]="autoComplete"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field>
  <mat-label>Categoria</mat-label>
  <mat-select [(ngModel)]="category">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let category of availableCategories" [value]="category">
      {{ category }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Marca</mat-label>
  <mat-select [(ngModel)]="brand">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let brand of availableBrands" [value]="brand">
      {{ brand }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="numeric-inputs">
  <mat-form-field class="numeric-input">
    <mat-label>Precio minimo</mat-label>
    <input
      type="number"
      [(ngModel)]="minPrice"
      placeholder="Precio minimo"
      matInput
      min="0"
    />
  </mat-form-field>

  <mat-form-field class="numeric-input">
    <mat-label>Precio máximo</mat-label>
    <input
      type="number"
      [(ngModel)]="maxPrice"
      placeholder="Precio máximo"
      matInput
      min="0"
    />
  </mat-form-field>
</div>

<mat-radio-group [(ngModel)]="promotionsFilter">
  <mat-radio-button [value]="'enabled'"
    >Solo habilitados para promociones</mat-radio-button
  >
  <mat-radio-button [value]="'excluded'"
    >Solo excluidos de promociones</mat-radio-button
  >
  <mat-radio-button [value]="'both'">Ambos</mat-radio-button>
</mat-radio-group>

<button mat-raised-button (click)="submitFilters()">Filtrar lista</button>

<app-product-card
  *ngFor="let product of productList; let i = index"
  [productDetails]="product"
>
</app-product-card>
