<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title><a [routerLink]="['/products', productDetails.id]">{{ productDetails.name }}</a></mat-card-title>
    <mat-card-subtitle>
      {{ productDetails.brand.name }} / {{ productDetails.category.name }}
    </mat-card-subtitle>
    <mat-card-subtitle> {{ getColoursNames() }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ productDetails.description }}</p>
    <p *ngIf="productDetails.exclude">
      Stock: {{ productDetails.stock }}
      <small
        ><small>Este producto no es elegible para promociones.</small></small
      >
    </p>
    <p *ngIf="!productDetails.exclude">Stock: {{ productDetails.stock }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <mat-card-title>${{ productDetails.priceUYU }}</mat-card-title>
    <div class="add-to-cart-button" *ngIf="isProductsRoute()">
      <button
        mat-flat-button
        color="primary"
        (click)="addToCart()"
        [disabled]="productDetails.stock === 0"
      >
        <mat-icon>shopping_cart</mat-icon> Add to Cart
      </button>
    </div>
    <div class="remove-from-cart-button" *ngIf="isCartRoute()">
      <button
        mat-stroked-button
        color="secondary"
        (click)="decrementValue()"
        [disabled]="quantity <= 1"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <input
        type="number"
        min="1"
        [(ngModel)]="quantity"
        (focusout)="setValue()"
        class="value-input"
      />
      <button
        mat-stroked-button
        color="secondary"
        (click)="incrementValue()"
        [disabled]="quantity >= productDetails.stock"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="removeFromCart()">
        <mat-icon>delete</mat-icon> Remove
      </button>
    </div>
  </mat-card-actions>
</mat-card>
