<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Batsuit from Batman and Robin</mat-card-title>
    <mat-card-subtitle>Adidas Suit</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Black</p>
    <p>{{ longText }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <mat-card-title>$2000</mat-card-title>
    <div class="add-to-cart-button">
      <button mat-flat-button color="primary">Add to Cart</button>
    </div>
  </mat-card-actions>
</mat-card>
