<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ brand }} / {{ category }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="text-small">{{ colours }}</p>
    <p>{{ description }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <mat-card-title>$2000</mat-card-title>
    <div class="add-to-cart-button">
      <button mat-flat-button color="primary">
        <mat-icon>shopping_cart</mat-icon> Add to Cart
      </button>
    </div>
  </mat-card-actions>
</mat-card>
