<form [formGroup]="productForm">
  <mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" placeholder="Price" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput formControlName="stock" placeholder="Stock" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of availableCategories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand">
      <mat-option *ngFor="let brand of availableBrands" [value]="brand">
        {{ brand }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Colours</mat-label>
    <mat-select formControlName="colours" multiple>
      <mat-option *ngFor="let color of availableColors" [value]="color">
        {{ color }}
      </mat-option>
    </mat-select>
  </mat-form-field>

   <button mat-raised-button (click)="submitForm()">Save</button>
</form>
