<div class="page-container">
  <div class="content" *ngIf="emptyCart">El carrito está vacio.</div>

  <div class="content" *ngIf="!emptyCart">
    <app-product-card
      *ngFor="let product of cartProducts; let i = index"
      [productDetails]="product.product"
      [quantity]="product.quantity"
    ></app-product-card>
  </div>

  <div class="cartData" *ngIf="!emptyCart">
    <app-cart-data [promoData]="cartData"></app-cart-data>

    <button mat-flat-button color="primary" (click)="navigateToCartBuy()">
      <mat-icon>attach_money</mat-icon> Comprar
    </button>
  </div>
</div>
